/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.2em;}
ul{list-style: none;
padding: 0;}
a{text-decoration: none;}

.idenea{color: rgba(40, 131, 40, 0.719);}
.fit{color: rgba(238, 44, 44, 0.719);}

/*comienza navbar*/
.navbar{
    font-size: 25px;
    padding: 10px 15px;
}

.navbar-nav{
    align-items: start;

}

.nav-link{
    color: rgb(70, 65, 65);
    font-size: 25px;
}

.nav-link:hover{
    color: purple;
    text-decoration: underline;
    text-decoration-color: purple;
}
/*finaliza navbar*/

/*Hero*/
.frase{   
    text-align: center;
    color: rgb(70, 65, 65);
    padding: 20px; 
    height: 70vh;
    
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url(../recursos/imagenes/heroe-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frase h3{
    text-align: start;
}


/*main*/
.mainidea{
    margin: 60px 0px;
}

.mainidea-cajas{
    padding: 70px 10px;
    text-align: center;
    color: rgb(70, 65, 65);
}


/*seccion planes*/
.plan h2{
    padding: 10px;
    color:  rgba(235, 0, 0, 0.795);
}

.planes{
    display: flex;
    justify-content: center;
}

.plan{
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,1),
        rgba(0,0,0,0.8)),
    url(../recursos/imagenes/plan.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 500px;
    max-width: 700px;

    margin: 10px 10px 50px;
    text-align: center;
    padding: 10px;
}
.plan_tiempo{
    display: flex;
    justify-content: space-around;
}

.button{
    margin: 20px;
    
}
.btn-outline-danger{
    font-weight: bold;
    font-size: 1rem;
}

/*seccion profe, iframe youtube*/
.profe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: rgb(70, 65, 65);
}

.profe h2{
    padding: 30px 0px 20px 0px;
    margin: auto;
}

.video-profe{
    width: 390px;
    height: 300px;
}


/*seccion preguntas frecuentes*/
.preguntas-frecuentes{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-top: 40px;
}
.accordion{
    max-width: 600px;
}


/*footer con gridd*/
footer .caja-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 40px;
    color: rgb(70, 65, 65);
    border-top: 3px rgb(49, 53, 53) solid;
}

.cajitas-footer{
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.cajitas-footer li{
    font-size: 1.4em;
}

.redes{
    padding-top: 15px;
    
}

.caja__redes{
    width: 40px;
    height: 40px;
}


/*opiniones*/
.opiniones-titulos{
    padding-top: 50px;
}

.container{
    padding: 50px 30px;
}


/*mediaQueries*/
@media screen and (min-width: 576px){    
    .video-profe{
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 768px){
    footer .caja-footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 992px) {
    .nav-link{
        font-size: 30px;
    }
    .navbar-nav{
        align-items: start;
    }

    .video-profe{
        width: 700px;
        height: 394px;
    }
    .container{
        max-width: 75%;
    }
    }

@media screen and (max-width: 992px) {
    .navbar-nav{
        align-items: end;
}
}

@media screen and (min-width: 1200px){
    h1{font-size: 5.5em;}
    h2{font-size: 3.2em;}
    h3{font-size: 2.8em;}
    p{font-size: 2em;}
    .nav-link{
        font-size: 35px;
    }

}


